.nav {
  width: 100%;
}
.containers {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.navcomponent {
  width: 100%;
  margin: 0 auto;
}
.logo {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}
.name {
  display: flex;
  align-items: center;
  /* flex-direction: row; */
}
.name h3 {
  margin-left: 15px;
}
.unorder {
  margin-left: auto;
}
.navitem {
  text-decoration: none;
  margin: 10px;
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
}
