.nav {
  width: 100%;
}
.containers {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.navcomponent {
  width: 100%;
  margin: 0 auto;
}
.logo {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}
.name {
  /* mobile screen margin-left:0 hoba */
  margin-left: 100px;
  display: flex;
  align-items: center;
}
.name h3 {
  margin-left: 15px;
}
.unorder {
  margin-left: auto;
}
.navitem {
  text-decoration: none;
  margin: 10px;
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
}
.search-btn {
  background-color: brown;
}
@media only screen and (max-width: 600px) {
  .name {
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .name h3 {
    font-size: 16px;
    color: blue;
  }
  .navcomponent {
    width: 95%;
  }
}
