/* .content {
  display: flex;
  align-items: center;
  justify-content: center;
} */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.carts-contant {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 85%;
  margin-top: 120px;
}
