.question-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.question {
  margin-top: 110px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(235, 231, 231);
}
.ques {
  margin-top: 30px;
  border: 1px solid aliceblue;
  border-radius: 10px;
  /* padding-top: 30px;
  padding-bottom: 30px; */
  padding: 30px;
  width: 50%;
  text-align: left;
  background-color: aliceblue;
}
@media only screen and (max-width: 600px) {
  .ques {
    width: 100%;
  }
}
