.main-trend {
  margin-bottom: 60px;
  margin-top: 30px;
}

.main-trend u h6 {
  color: darkcyan;
}
.main-trend h3 {
  margin: 20px;
}
.trend-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.trend {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 20px;
  width: 300px;
  height: 400px;
  background-position: center;
  background-size: cover;
  position: relative;
  opacity: 1.5;
}
.mid h1,
p {
  color: white;
  text-shadow: 1px 1px 1px rgb(43, 43, 43), 1px 1px 1px rgb(49, 48, 48);
}
.mid p {
  font-size: 1.2rem;
  font-weight: 400;
}
.trend-botom {
  width: 100%;
  border-top: 1px solid white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0px;
}
.trend-botom button {
  border: none;
  border-radius: 10px;
  background-color: aqua;
}
.trend svg {
  color: white;
  text-shadow: 1px 1px 1px rgb(43, 43, 43), 1px 1px 1px rgb(49, 48, 48);
  width: 30px;
  height: 30px;
  margin: 0;
}
.trend img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 600px) {
  .trend-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media only screen and (min-width: 688px) and (max-width: 992px) {
  .trend-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
