@media only screen and (max-width: 600px) {
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
  }
}
